.Navbar {
  height: 75px;
  background-color: var(--gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-button-fill {
  margin: 20px;
  background-color: var(--primary);
  border-radius: 5px;
  padding: 10px 10px;
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2.5px;
  border: 0;
}

.nav-button-fill:hover {
  opacity: 0.9;
}

.nav-button-fill:active {
  opacity: 0.75;
}

.nav-button-text {
  margin: 20px;
  background-color: transparent;
  color: var(--primary);
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 2.5px;
  border: 0;
}

#login-container {
  margin-left: auto;
}

/*.nav-button::after {
  display: flex;
  height: 3px;
  background-color: rgb(228, 228, 228);
  content: "";
  width: 0px;
  opacity: 0;
  align-self: center;
  transition: opacity 0.5s ease, width 0.5s ease;
}

.nav-button:hover::after {
  opacity: 1;
  width: 100%;
}*/

.nav-logo {
  margin: 20px;
  font-size: 25px;
  letter-spacing: 2.5px;
  color: var(--primary);
  font-weight: 800;
  text-decoration: none;
}
